@import url("./globals.css");

body {
  display: grid;
  place-items: center;
}

main {
  width: 100%;
}

.box {
  max-width: 800px;
  border-radius: 20px;
  overflow: visible;
  z-index: -1;
}


.image-option {
  width: 400px;
  height: 300px;
  background-image: url(../images/illustration-woman-online-desktop.svg);
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  left: -70px;
}

.image-box {
  width: 150px;
  height: 150px;
  background-image: url(../images/illustration-box-desktop.svg);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 120px;
  left: -75px;
  z-index: 20;
  animation: float 4s ease-in-out infinite;
}

.accordion-text {
  margin: 0;
  transition: height 0.35s ease-in-out;
  overflow: hidden;
}

.accordion-text:not(.active) {
  display: none;
}

.active {
  display: block;
}
.btn-active {
  font-weight: 700;
  transition: all .8s;
}

.img-rotate {
  transform: rotate(180deg);
  transition: transform .8s;
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: var(--dividers-light-grayish-blue);
}
.attribution a {
  color: var(--neutral-text-very-dark-grayish-blue);
}

@keyframes float {
	0% {	
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-10px);
	}
	100% {
		transform: translatey(0px);
	}
}

@media screen and (max-width: 700px) {

  .title-center {
    text-align: center;
  }

  .image-option {
    width: 250px;
    height: 200px;
    background-image: url(../images/illustration-woman-online-mobile.svg);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: -160px;
    left: 50%;
    margin-left: -125px;
  }

  .image-box {
    display: none;
  }

  .accordion-margin {
    margin: 50px 0 0 0;
  }
}
